<div>
  <form action='/question/<%= current_user.id %>' method='post'>
    <div><input type='text' name='title' value="<%= @question.try(:title) %>"</div>
    <div><textarea name='body' value="<%= @question.try(:body) %>"</textarea></div>
    <input type="hidden" name="user_id" value="<% current_user.id %>">
    <div><input type='submit' value='Post'/></div>
  </form>
</div>