<div>
  <form action="/login" method="post">
  <label for="email">email:</label>
  <input type="text" name="email" placeholder="email">
  <label for="password">password:</label>
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="login">
  </form>
</div>
