<% if @errors %>
    <%= @errors %>
<% end %>

<div class="login">
  <form id="awesome-login" action="/users/login" method="post">
    <a href="/"><img src="/img/staxlogo.png" class="logo-login"></a>
    <div><input id="awesome-id" type="text" name="email" placeholder="email"></div>
    <div><input id="awesome-id" type="password" name="password" placeholder="password"></div>
    <button>login</button>
    <p class="message">Not registered? <a href="/users/new">Create an account</a></p>
  </form>
</div>
