<% if @errors %>
  <% @errors.each do |error_message| %>
    <%= error_message %>
  <% end %>
<% end %>

<div>
  <form action="/login" method="post">
    <label for="email">email:</label>
    <input type="text" name="email" placeholder="email">
    <label for="password">password:</label>
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="log N2 stax">
  </form>
</div>
