<form action="/questions/<%=@question.id%>/comments" method="post">
  <input type="hidden" name="vote" value="<%=@question.id%>">
  <input type="submit" value="Post Your Comment" class="button">
</form>
