.all-questions {
    text-align: center;
}

.logo {
    width: 50px;
}

.top-bar-menu-links {
    border-top: 0px;
}

a {
    text-decoration: none;
}
header {
    text-align: right;
    background-color: black;
    margin: 0px;
    color: white;
    font-family: Helvetica;
    word-spacing: 15px;
}
