

.question_show {
border: 1px solid;
  margin: 50px;
  padding-left: 20px;
}

.question_show h1 {
  display: inline-block;
}

.question_show #body {
  display: block;
  margin-top: -10px;
  margin-left: 12px;
}

.question_show #date {
  display: block;
  font-size: 10px;
}

.question_show .author_links {
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
}

.comments {
    border: 1px dashed;
}


.question_main {
  border: 1px solid black;
  margin: 2px;
  width: 600px;
  padding-left: 20px;
  margin-left: 50px;
}

.question_main h1 {
  color: black;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

.question_main h3 {
  text-decoration: none;
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
}

.question_main p {
  font-size: 14px;
  display: block;
  margin-top: -10px;
}