<div>
  <form action="/users/register" method="post">
    <label for="username">username:</label>
    <input type="text" name="entry[username]" placeholder="username">
    <label for="email">email:</label>
    <input type="text" name="entry[email]" placeholder="email">
    <label for="password">password:</label>
    <input type="password" name="entry[password]" placeholder="password">
    <input type="submit" value="register">
  </form>
</div>
