

<form class="answer-box" action="/questions/<%=@question.id%>/answers" method="post" data-question-id="<%=@question.id%>">
  <input type"text" name="answer">
  <input type="submit" value="Post Your Answer" class="button">
</form>
