<form action="/questions/<%=@question.id%>/answers" method="post">
  <input type="hidden" name="answer" value="<%=@question.id%>">
  <input type"text" name="answer">
  <input type="submit" value="Post Your Answer" class="button">
</form>
